@import './base.css';


.text-tittle-container{
  display: flex;
  color: var(--font-links-bar);
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
    
  
}
.tittle-1{
  font-size: 4rem;
}
.tittle-2{
  font-size: 1.5rem;
}


@media (hover: hover) {
  a:hover {
    
  }
}

@media (min-width: 1024px) {

}
